#numPad>span {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #E0F9B5;
    transition-duration: 0.5s;
    color: black;
}
#numPad>span:hover {
    background-color: #A5DEE5;
    color: white;
}
#ranNum {
    border: 1px solid;
    width: 214px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
#numPad {
    width: 275px;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-content: center;
}
#str {
    width: 216px;
    height: 30px;
    border: 1px solid darkcyan;
    margin-top: 5px;
    color: black;
    background-color: white;
    transition-duration: 1s;
    cursor: pointer;
}
#str:hover {
    background-color:darkcyan;
    color: white;
}
#check {
    width: 216px;
    height: 30px;
    border: 1px solid darkcyan;
    margin-top: 5px;
    color: black;
    background-color: white;
    transition-duration: 1s;
    cursor: pointer;
    display: none;
}
#check:hover {
    background-color:darkcyan;
    color: white;
}
#str2 {
    width: 106px;
    height: 30px;
    border: 1px solid darkcyan;
    margin-top: 5px;
    color: black;
    background-color: white;
    transition-duration: 1s;
    cursor: pointer;
}
#str2:hover {
    background-color:darkcyan;
    color: white;
}
#result {
    display: block;
    width: 214px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid;
    margin-top: 5px;
    color: black;
    background-color: skyblue;
}
#result:focus {
    outline: none;
}